.btn {
    margin-top: 2rem;
    width: 300px;
    height: 60px;
    background: transparent;
    color: var(--secondary-font-color);
    font-size: 1.8rem;
    border-color: var(--secondary-font-color);
    cursor: pointer;
}

.btn:hover {
    cursor: pointer;
}