 @font-face {
    font-family: 'digital-7';
    src: url('../fonts/digital-7/digital-7.ttf');
  }

  .counter span {
    height: 100%;
  }

  .counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
  }

  .counter__title {
    font-family: 'futura';
    color: var(--secondary-font-color);
    padding-top: 2rem;
    font-size: 1rem;
    font-weight: 300;
  }

  .time {
      font-family: 'digital-7', sans-serif;
      color: var(--secondary-font-color);
      font-size: 4rem;
      min-width: 30px;
  }

  .description {
    font-size: 0.9rem;
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
  }
  