:root {
  --secondary-font-color: #74FCFD;
}

@font-face {
  font-family: 'digital-7';
  src: url('../fonts/digital-7/digital-7.ttf');
}
@font-face {
  font-family: 'iknu';
  src: url('../fonts/iknu.normal.ttf');
}

@custom-media --xsm-viewport only screen and (max-width: 380px);
@custom-media --sm-viewport only screen and (min-width: 576px);
@custom-media --md-viewport only screen and (min-width: 768px);
@custom-media --lg-viewport only screen and (min-width: 992px);
@custom-media --xl-viewport only screen and (min-width: 1200px);
@custom-media --xxl-viewport only screen and (min-width: 1280px);
@custom-media --xxxl-viewport only screen and (min-width: 1400px);
@custom-media --xxxxl-viewport only screen and (min-width: 2000px);

@custom-media --xs-only only screen and (max-width: 575px);
@custom-media --sm-only only screen and (min-width: 576px) and (max-width: 767px);
@custom-media --md-only only screen and (min-width: 767px) and (max-width: 992px);
@custom-media --lg-only only screen and (min-width: 992px) and (max-width: 1200px);
@custom-media --xl-only only screen and (min-width: 1200px)  and (max-width: 1280px);
@custom-media --xxl-only only screen and (min-width: 1281px);

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
  overflow: hidden;
  font-size: 1rem;
  color: white;
}

body {
  background-image:url('/img/swemint-bg-1.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  height: fit-content;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


