html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
  overflow: hidden;
  font-size: 1rem;
  color: white;
}

body {
  background-image:url('/img/swemint-bg-1.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  height: fit-content;
}

@font-face {
  font-family: 'digital-7';
  src: url('../fonts/digital-7/digital-7.ttf');
}
@font-face {
  font-family: 'iknu';
  src: url('../fonts/iknu.normal.ttf');
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --secondary-font-color: #74FCFD;

}

