.container {
  padding: 0 2rem;
  height:100vh;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 0;

}

.containerOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.5;
  z-index: -1;

}

.layout {
  display: grid;
  grid-template-rows: 1fr 50px;
  height: 80vh;
  justify-items: space-between;
  place-items: center;
  min-height: 100vh;
}

.header {
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  padding: 1rem 2rem;
}

.main .title {
  color: white;
  font-family: 'iknu';
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 2rem;
}

.main {
  font-family: 'futura';
  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.main .title {
  padding: 24px 16px;
}

.main .preamble {
  width: 50vw;
}

.footer {
  font-family: 'futura';
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
  letter-spacing: 0.4rem;
}

