.container {
  padding: 0 2rem;
  background-image:url('/img/swemint-bg-1.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  height:100vh;
  position: relative;
  z-index: -1;

}

.containerOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.3;
  z-index: -1;
}

.layout {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  height: 80vh;
  justify-items: space-between;
  place-items: center;
  min-height: 100vh;
  z-index: 1;
}

.header {
  width: 100%;
}

.title {
  color: white;
}



.main {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}

.main .title {
  padding: 24px 16px;
}

.footer {
  width: 100%;
  height: 100%;
  text-align: center;
}

