.container {
  padding: 0 2rem;
  height: calc(100vh - 16px);
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 0;
}

.containerOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.6;
  z-index: -1;
}

.layout {
  display: grid;
  grid-template-rows: 90vh 10vh;
  height: 100%;
  justify-items: space-between;
  place-items: center;
  align-items: center;
}

.main .title {
  color: white;
  font-family: "iknu";
  font-weight: 500;
  letter-spacing: 2rem;
  font-size: 18rem;
  text-align: center;
  padding-left: 24px;
  margin-top: -3rem;
}

.main {
  overflow:scroll;
  font-family: "futura";
  height: fit-content;
  width: 100%;
  text-align: center;
  padding: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  text-transform: uppercase;
  /* overflow-y: auto; */
}

.main .preamble {
  width: 50vw;
  font-size: 0.9rem;
  line-height: 1.1;
  letter-spacing: 0.1rem;
}

.footer {
  font-family: "futura";
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
  letter-spacing: 0.7rem;
  font-size: 0.6rem;
  display:grid;
  place-items:center;
}

.footer a {

}

@media screen and (max-width: 768px) {
  .main .title {
    font-size: 8rem;
  }
}

@media screen and (max-width: 500px) {
  .main .title {
    font-size: 4rem;
    letter-spacing: 1.8rem;
    padding-top: 4rem;
  }

  .main .preamble {
    width: 80vw;
    font-size: 0.9rem;
    line-height: 1.2;
  }

  .footer {
    letter-spacing: 0.1rem;
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 400px) {
  .main {
    justify-content: center;
    align-items: center;
  }

  .main .title {
    font-size: 4rem;
    margin-top: unset;
  }

  .main .preamble {
    width: 80vw;
    font-size: 0.6rem;
    line-height: 1.2;
    margin-top: unset;
  }

  .footer {
    letter-spacing: 0.1rem;
    font-size: 0.5rem;
  }
}
